<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>

<h2>List Users Welcome </h2>

<br>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>E-mail</th>
    <th>Action</th>
  </tr>

  <a href="/users/new">New user</a>
  <br> <br>
  <tr th:each="user : ${users}">
    <td th:text="${user.getId()}"></td>
    <td><a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getName()}">user</a></td>
    <td th:text="${user.getLastName()}"></td>
    <td th:text="${user.getEmail()}"></td>
    <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}">Update</a>

      <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
        <input type="submit" value="Delete"/>
      </form>

      <form th:method="path"><a th:href="@{/users/{id}/edit(id=${user.getId()})}"></a>
        <input type="submit" value="Create user"/>
      </form>
    </td>
  </tr>

</table>

</body>
</html>