<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>

<h2>List Users Welcome </h2>

<br>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>E-mail</th>

    <a href="/users/new">New user</a>
    <th>Action</th>

  </tr>
  <br> <br>
  <tr th:each="user : ${users}">
    <td th:text="${user.getId()}"></td>

    <td th:text="${user.getName()}"></td>

    <td th:text="${user.getSurname()}"></td>
    <td th:text="${user.getEmail()}"></td>

  </tr>


</table>

</body>
</html>