<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>

<h2>List Users Welcome </h2>
<form method="get" action="search">
  <input type="text" name="keyword"/>
  <input type="submit" value="Search"/>
</form>
<br>
<table border="1" cellpadding="5">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>E-mail</th>
    <th><h3>Action</h3></th>
  </tr>
  <tr>
    <a href="/users/new">New user</a>
  </tr>
<br> <br>
  <tr th:each="user : ${users}">
    <td th:text="${user.getId()}"></td>

    <td th:text="${user.getName()}"></td>

    <td th:text="${user.getSurname()}"></td>
    <td th:text="${user.getEmail()}"></td>
    <td>

      <a href="/users/new">Update user</a>

      <a href="/delete?id=${user.id}">Delete</a>
    </td>
  </tr>


</table>
</div>
</body>
</html>