<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
<p th:text="${user.getName() + ', ' + user.getSurname()}">VALUE</p>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>
<p th:text="${user.getId()}">VALUE</p>
<form action="/logout" method="POST">
    <button type="submit">logout</button>
</form>

</body>
</html>