<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update Users</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
  <div>
    <label for="name"> Enter name</label>
    <input type="text" th:field="*{username}" id="name"/>
    <br><br>
    <label for="name"> Enter lastname</label>
    <input type="text" th:field="*{surname}" id="lastName"/>
    <br><br>
    <label for="name"> Enter password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br><br>

    <input type="submit" value="Edit"/>
    <br><br>
    <a th:href="@{/logout}">Logout</a>
  </div>
</form>

</body>
</html>